.logo {
    float: left;
}
.title{
    float: left;
    margin: 0;
    padding: 5px;
    color: rgb(25, 69, 28);
    text-decoration: none;
    font-size: 24px;
}
  .shapkaverh {
    float: right;
    word-spacing:40px;
	font-size:30px;
  }
  .shapkaverh ul {
    margin: 30;
    padding: 0;
    list-style: none;
  }
  .shapkaverh li {
    display: inline-block;
    margin-left: 10px; 
}

  .site:after { 
    content: "";
    display: table;
    clear: both;
  }
  .site {
    width: 100%;
    max-width: 1024px;
    padding: 15px;
    margin: 0 auto;
  }
  .shapkaverh a{
    line-height: 50px;
    text-decoration: none;
    color: black;
  }
  .Spisok{
    width:50%; 
  }
  .site div {
    float:left;
    max-width: 960px;
  }
  table {
    border: 1px solid rgb(5, 5, 5);
    border-collapse: collapse;
    width: 100%;
 }
 td {
    border: 1px solid rgb(16, 16, 15);
 }
tbody tr:nth-child(odd)
{
    background: #dffc02;
}
tbody tr:nth-child(even)
{
    background: #b9b9c0;
}
footer{
  padding: 10px;
  background-color: #ecfb17;
  color: #000;
  word-spacing:30px;
	font-size:20px;
}